@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  &:hover {
    color: #000000;
    text-decoration: underline;
  }
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

form {
  width: 100%;
}

.primary-link,
.secondary-link {
  border: 2px solid black;
  border-radius: 0px;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: fit-content;
  &:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
  }
}

.primary-link {
  background: white;
}

.view-all {
  border-radius: 0px;
  padding: 10px 15px;
  border: 2px solid black;
  cursor: pointer;
  display: block;
  text-decoration: none;
  background: #000;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  min-width: 100px;
}
.header {
  padding: 8px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333;
}

.header .logo {
  font-size: 30px;
  font-family: "DM Serif Display", serif;
}

.header .header-right a {
  font-size: 18px;
  margin: 0 15px;
}

.header .menu {
  display: none;
}
.header .menu {
  display: none;
}

.d-none {
  display: none;
}

.main-body .hero-section {
  padding: 100px 36px;
  background: #faebd7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #333;
}

.main-body .hero-section .hero-left {
  max-width: 600px;
  width: 100%;
}

.main-body .hero-section .hero-left h2 {
  font-size: 55px;
  line-height: 1.1;
  margin: 0;
}

.main-body .hero-section .hero-left p {
  width: 100%;
  max-width: 500px;
  margin: 20px 0px;
  font-size: 23px;
}
.main-body .hero-section .hero-left .link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.main-body .learn-section {
  padding: 50px 18px;
}

.main-body .learn-section h2 {
  font-size: 36px;
  margin: auto auto 48px;
  max-width: 650px;
  text-align: center;
  line-height: 1.1;
}

.main-body .learn-section p {
  font-size: 26px;
  text-align: center;
  margin: auto;
  max-width: 450px;
}

.main-body .learn-section .features-container {
  margin: 75px auto 50px;
}

.main-body .learn-section .features-container .features {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-container .features .feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  max-width: 450px;
  border: 2px solid black;
  margin: 12px;
}

.features-container .features .feature-card img {
  max-width: 100px;
  margin-right: 30px;
}

.features-container .features .feature-card p {
  max-width: 300px;
  font-size: 18px;
  margin: 0px auto;
  text-align: center;
}

.main-body .learn-section .ready h2 {
  max-width: 400px;
  font-size: 30px;
  margin-bottom: 25px;
}

.main-body .learn-section .ready a {
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  justify-content: center;
  margin: auto;
}

.projects .project-text h2 {
  font-size: 72px;
  margin: 72px 0px 24px;
}

.projects .project-text h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 26px;
}

.projects .project-text .steps {
  margin-bottom: 12.5px;
}

.projects .project-text .steps li {
  font-size: 22px;
  max-width: 500px;
  margin: 10px 0px;
}

.projects .project-filter {
  padding: 0 16px;
  margin-top: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects .project-filter .primary-link {
  font-weight: 600;
  min-width: 100px;
  font-size: 16px;
}

.project-filter .filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.project-filter .filter-btn .primary-link:nth-child(2) {
  &:hover {
    background: #bcff93;
    color: #000;
  }
}

.project-filter .filter-btn .primary-link:nth-child(3) {
  &:hover {
    background: #fcff74;
    color: #000;
  }
}
.project-filter .filter-btn .primary-link:nth-child(4) {
  &:hover {
    background: #ffd430;
    color: #000;
  }
}

.project-filter form #search {
  width: 100%;
  max-width: 445px;
  border: 2px solid;
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 10px;
  &::placeholder {
    font-family: inherit;
    font-size: 18px;
  }
}

.projects .note {
  max-width: 650px;
  text-align: center;
  margin: 16px 0px;
  padding: 0px 16px;
}

.projects .note p {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.blog {
  background: #f7f7f7;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog h2 {
  margin: 72px auto 24px;
  font-size: 72px;
  text-align: center;
  max-width: 500px;
  line-height: 1.1;
}

.blog p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 96px;
  margin-top: 0px;
  max-width: 750px;
}

.blog .blog-post {
  margin-bottom: 96px;
  width: 100%;
  max-width: 1200px;
}

.blog-post .blog-card {
  border-top: 1px solid #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 0px 24px;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
  &:last-child {
    border-bottom: 1px solid #111;
  }
  &:hover {
    background: #ececec;
  }
}

.blog-post .blog-card h3 {
  font-weight: 600;
  font-size: 24px;
  color: #333;
  margin: 15px 0;
}

.blog-post .blog-card .tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.blog-post .blog-card .tags span {
  background: #000;
  color: #fff;
  border-radius: 100px;
  padding: 2.5px 10px;
  margin: 0px 0px 0px 6px;
  font-size: 14px;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.faq h2 {
  text-align: center;
  font-size: 72px;
  margin: 72px auto 48px;
  max-width: 600px;
  line-height: 1.1;
}

.faq .questions {
  max-width: 1200px;
  margin: 0px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
}

.faq .questions .question {
  max-width: 750px;
  border: 2px solid black;
  width: 100%;
  margin-top: 20px;
}

details[open] summary {
  border-bottom: 2px solid black;
}

.faq .questions .question summary {
  font-family: "DM Serif Display", serif;
  cursor: pointer;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
  color: black;
  padding: 12px;
  background: antiquewhite;
}

.faq .questions .question p {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0px;
}

.contact {
  background: antiquewhite;
  padding: 36px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .contact-text {
  max-width: 400px;
  width: 100%;
}

.contact .contact-text h2 {
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-size: 3.25rem;
  line-height: 1.1;
}

.contact .contact-form {
  background: antiquewhite;
  width: 100%;
  margin: auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  max-width: 600px;
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.contact-form form .input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.contact-form form label {
  font-weight: 600;
}
.contact-form form input,
textarea {
  margin: 15px 0px 0px;
  font: inherit;
  padding: 10px;
  border: 2px solid black;
}

.contact-form .primary-link {
  width: 150px;
  color: black;
  font-weight: 600;
  margin-top: 15px;
  font-size: 16px;
}

.footer {
  color: white;
  background: black;
  padding: 40px 20px;
}

.footer a {
  color: #fff;
}

.footer .footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-section .footer-nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 10px);
  max-width: 400px;
}

@keyframes mobileNav {
  from {
    width: 50px;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 18px;
  }
  .header .logo {
    font-size: 25px;
  }
  .header .header-right {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .header .menu .open-menu img,
  .header .menu .close-menu img {
    width: 30px;
    height: 30px;
  }
  .header .menu .close-menu {
    z-index: 11111;
    position: relative;
  }
  .header .menu .close-menu img {
    align-self: flex-end;
  }
  .mobile-menu-items {
    min-height: 100vh;
    position: fixed;
    max-width: 300px;
    width: 100%;
    background: #ffffff;
    top: 0;
    right: 0;
    border-left: 2px solid #333;
    transition: width 0.3s ease-in-out 0s;
    animation-name: mobileNav;
    animation-duration: 0.5s;
  }
  .mobile-menu-items .nav-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 24px;
    padding: 25px;
    gap: 15px;
  }
  .mobile-menu-items .nav-items a {
    font-weight: 700;
  }
  .main-body .hero-section {
    padding: 100px 18px;
  }

  .main-body .hero-section .hero-left h2 {
    font-size: 33px;
  }

  .main-body .hero-section .hero-left p {
    margin: 18px 0px;
    font-size: 18px;
  }
  .main-body .hero-section {
    padding: 50px 18px;
  }
  .main-body .learn-section h2 {
    font-size: 26px;
    text-align: center;
    margin: auto auto 48px;
    max-width: 650px;
  }
  .projects .project-text h2 {
    font-size: 40px;
    margin: 33px 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .main-body .hero-section .hero-right {
    display: none;
  }
  .main-body .learn-section p {
    font-size: 20px;
  }
  .features-container .features .feature-card {
    flex-direction: column;
    justify-content: center;
  }
  .features-container .features .feature-card img {
    margin-bottom: 12px;
    max-width: 75px;
  }
  .footer .footer-section {
    align-items: start;
  }
  .footer .footer-section .footer-nav-links {
    flex-direction: column;
  }
  .projects .project-text .steps {
    padding: 0 16px;
  }
  .projects .project-text .steps li {
    font-size: 18px;
  }
  .projects .project-filter .filter-btn {
    max-width: 250px;
    justify-content: center;
    align-items: center;
  }
}
