*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  &:hover {
    color: #000000;
    text-decoration: underline;
  }
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding: 8px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333;
}

.header .logo {
  font-size: 30px;
  font-family: "DM Serif Display", serif;
}

.header .header-right a {
  font-size: 18px;
  margin: 0 15px;
}

.header .menu {
  display: none;
}
.header .menu {
  display: none;
}

.d-none {
  display: none;
}

@keyframes mobileNav {
  from {
    width: 50px;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 18px;
  }
  .header .logo {
    font-size: 25px;
  }
  .header .header-right {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .header .menu .open-menu img,
  .header .menu .close-menu img {
    width: 30px;
    height: 30px;
  }
  .header .menu .close-menu {
    z-index: 11111;
    position: relative;
  }
  .header .menu .close-menu img {
    align-self: flex-end;
  }
  .mobile-menu-items {
    min-height: 100vh;
    position: fixed;
    max-width: 300px;
    width: 100%;
    background: #ffffff;
    top: 0;
    right: 0;
    border-left: 2px solid #333;
    transition: width 0.3s ease-in-out 0s;
    animation-name: mobileNav;
    animation-duration: 0.5s;
  }
  .mobile-menu-items .nav-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 24px;
    padding: 25px;
    gap: 15px;
  }
  .mobile-menu-items .nav-items a {
    font-weight: 700;
  }
}
